@import url('https://fonts.googleleapsis.com/css?family=Pop pins:100,200,300,400,500,600,700,800.900');

:root{
      --crl-primary:#ee6352;
      --clr-bg:#ff04;
      --clr-body:#0e0d0d;
      
  }
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .group:before
  .group:after{
       content: '  ';
       display: table;
  }
  
  .group{
       clear:both;
  }
  
  .group{
        zoom: 1;
  }

  ::-moz-slection {
    background-color: rgb(33, 174, 240);
    color: rgb(146, 143, 143);
  }
  ::selection {
    background-color: rgb(33, 174, 240);
    color: rgb(146, 143, 143);
  }
  body{
      width: 100%;
      height: 100vh;
      background-image: url("https://source.unsplash.com/random/1000X1000/?nature-0");
      background-position: center;
      background-repeat:no-repeat ;
      background-size: cover;
      background-attachment: fixed;
  }
  .page_header{
   background-color: aqua;
   padding: 2em;
   display: flex;
}
.nav {     
      padding: 1px;
      flex-basis: 100%;
      flex-grow: 1;
  }  
  .nav_list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      gap: 1.5em;
      margin-left: 1em;
      text-align: center;
  }
  .nav_list a {
      color: var(--crl-primary);
      font-weight: 600;
  }
  
  .nav_list a:hover,
  .nav_list a:focus {
      color: var(--clr-body);
}
   .nav_list li:nth-of-type(2):hover,
   .nav_list li:nth-of-type(3):hover{
        background-color: rgb(68, 217, 236);
  }
  
  .nav_list li:nth-of-type(1) {      
      margin-left: 0;
}
.nav_list li:nth-of-type(2) {
      background-color: rgb(123, 226, 240);
      margin-left: auto;
      align-self: center;
      padding: .5em;
  }
  .nav_list li:nth-of-type(3) {
      background-color: rgb(123, 226, 240);
      align-self: center;
      padding: .5em;
  }
  .page_main{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
  }
  section{
     position: relative;
     visibility: hidden;
      width: 37.5em; /*600px*/
      height: 28.125em; /*450*/
      display: flex;flex-direction: column;
      background-color:transparent;
      border: .2rem  solid  whitesmoke;
      color: #ee6352;
      position: relative;
      align-self: center;
      padding: 1em;
      gap: 1em;
  }
  .adding{
    opacity: 0;
    position: absolute;
    left: 1em;
    top: 2em;
  }
  .editing{
    opacity: 0;
    position: absolute;
    left: 1em;
    top: 2em;
  }

footer{

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;   
    max-width: 100%;
    background-color: rgba(240, 248, 255, 0.459);
    box-shadow: inset 3px 3px 35px #fff;
    padding-bottom: 30px;
    padding-top: 1em;
    opacity: .8;
    z-index: 1;
  }
  .adding input {
      position: relative;
      width: 200px;
      height: 3em;
      margin: .5em;
      font-family: 'Times New Roman', Times, serif;
      font-style: italic;
      font-size: 1em;
  }
  .adding label {
      position: relative;    
      font-weight: bold;
      font-size: 1.3em;
  }
  #count {
     width: 6.25em;   
  }
  #add_form{
     display: table;
     gap: 2em;
  }
  #add_button{
     width: 6.25em;
      height: 2.7em;
      font-family: 'Times New Roman', Times, serif;
  }
  .editing table tr th:first-child,
  .editing table thead tr th{
   padding-left: .7em;
    color: #ee6352;
  }
  .editing table td{
    color: #0e0d0d;
    font-size: clamp(1.1em, 3vw,2em);
    font-weight: bold;
    text-shadow:0 0 8px #fff ;
    padding-left: .7em;
  }
  .editing table th{
    color: #0e0d0d;
    font-size: clamp(1.1em, 3vw,2.1em);
    font-weight: bold;
    text-shadow:0 0 4px #fff ;
  }
 
 
  