@import url('https://fonts.googleleapsis.com/css?family=Pop pins:100,200,300,400,500,600,700,800.900');

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .group:before
  .group:after{
       content: '  ';
       display: table;
  }
  
  .group{
       clear:both;
  }
  
  .group{
        zoom: 1;
  }

  ::-moz-slection {
    background-color: rgb(33, 174, 240);
    color: rgb(146, 143, 143);
  }
  ::selection {
    background-color: rgb(33, 174, 240);
    color: rgb(146, 143, 143);
  }
  body{
      width: 100%;
      height: 100vh;
      background-image: url("https://source.unsplash.com/random/1000X1000/?nature-0");
      background-position: center;
      background-repeat:no-repeat ;
      background-size: cover;
  }
  .page_header{
   background-color: aqua;
   padding: 2em;
   display: flex;
}
.nav {
      /* background: pink; */
      padding: 1px;
      flex-basis: 100%;
      flex-grow: 1;
  }
  
  .nav_list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      gap: 1.5em;
      margin-left: 1em;
      text-align: center;
      /* background:lightblue */
  }
  .nav_list a {
      color: var(--crl-primary);
  }
  
  .nav_list a:hover,
  .nav_list a:focus {
      color: var(--clr-body);
  }
  
  .nav_list li:nth-of-type(1) {      
      margin-left: 0;
}
.nav_list li:nth-of-type(2) {
      background-color: darkgrey;
      margin-left: auto;
      align-self: center;
      padding: .5em;
  }
  .nav_list li:nth-of-type(3) {
      background-color: darkgrey;
      align-self: center;
      padding: .5em;
  }
 
 
  