@import url('https://fonts.googleleapsis.com/css?family=Pop pins:100,200,300,400,500,600,700,800.900');
@import url("/src/web/css/normalize.css");
@import url('/src/web/css/header.css');
:root{
      --crl-primary:#ee6352;
      --clr-bg:#ff04;
      --clr-body:#0e0d0d;
      
  }
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .group:before
  .group:after{
       content: '  ';
       display: table;
  }
  
  .group{
       clear:both;
  }
  
  .group{
        zoom: 1;
  }

  ::-moz-slection {
    background-color: rgb(33, 174, 240);
    color: rgb(146, 143, 143);
  }
  ::selection {
    background-color: rgb(33, 174, 240);
    color: rgb(146, 143, 143);
  }
  body{
      width: 100%;
      height: 100vh;
      background-image: url("https://source.unsplash.com/random/1000X1000/?nature-0");
      background-position: center;
      background-repeat:no-repeat ;
      background-size: cover;
      background-attachment: fixed;
  }

  section{
     position: relative;
     visibility: hidden;
      width: 37.5em; /*600px*/
      height: 28.125em; /*450*/
      display: flex;flex-direction: column;
      background-color:transparent;
      border: .2rem  solid  whitesmoke;
      color: #ee6352;
      position: relative;
      align-self: center;
      padding: 1em;
      gap: 1em;
  }
  .adding{
    opacity: 0;
    position: absolute;
    left: 1em;
    top: 2em;
  }
  .editing{
    opacity: 0;
    position: absolute;
    left: 1em;
    top: 2em;
  }

footer{

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;   
    max-width: 100%;
    background-color: rgba(240, 248, 255, 0.459);
    box-shadow: inset 3px 3px 35px #fff;
    padding-bottom: 30px;
    padding-top: 1em;
    opacity: .8;
    z-index: 1;
  }
  .adding input {
      position: relative;
      width: 200px;
      height: 3em;
      margin: .5em;
      font-family: 'Times New Roman', Times, serif;
      font-style: italic;
      font-size: 1em;
  }
  .adding label {
      position: relative;    
      font-weight: bold;
      font-size: 1.3em;
  }
  #count {
     width: 6.25em;   
  }
  #add_form{
     display: contents;
     gap: 2em;
  }
  #edit_form{
    display: contents;
    gap: 2em;
  }
  #add_button{
     width: 6.25em;
      height: 2.7em;
      font-family: 'Times New Roman', Times, serif;
  }
  .etiting label {
    
  }
  .editing table tr th:first-child,
  .editing table thead tr th{
   padding-left: .7em;
    color: #ee6352;
  }
  table{
    border: .02em solid black;
  }
  table th,table td{
    border: .001em solid black;
  }
  .editing table td{
    color: #0e0d0d;
    font-size: clamp(1.1em, 3vw,2em);
    font-weight: bold;
    text-shadow:0 0 8px #fff ;
    padding-left: .7em;
  }
  .editing table th{
    color: #0e0d0d;
    font-size: clamp(1.1em, 3vw,2.1em);
    font-weight: bold;
    text-shadow:0 0 4px #fff ;
  }
 
 
  